<!DOCTYPE html>
<html>
<head>
<style>
    .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.font {
font-family: Verdana, Geneva, sans-serif;
font-size: 50px;
letter-spacing: 0.6px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}
</style>
</head>
<body>

<div class="centered">
  <div class="font">{{data}} VISITS</div>
</div>

</body>
</html>
